*{
    margin: 0;
    padding: 0;
}




#answer{
    height: 10vh;
    width:80%;
    background-color: #ecf0f3;
    border-radius: 20px;
    box-shadow: inset -5px -5px 12px #ffffff, inset 5px 5px 12px rgba(0,0,0,.16);
    text-align: end;
    font-size: 60px;
    color: rgb(70,70,70);
    margin:auto;
    padding:20px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;


    
}
.calc{
    background: #ecf0f3;
    padding:1vh;
    display: inline-block;
    border-radius: 30px;
    border:1vh solid aquamarine;
    
}

input{
    
    font-size: px;
    width:8vh;
    height: 7.5vh;

    border-radius: 10px;
    border:none;
    box-shadow: -5px -10px 7px #ffffff, 5px 10px 12px rgba(0,0,0,.16);
    background-color: #ecf0f3;
    font-family:sans-serif;
    font-size: 3.5vh;
    font-weight:300;
    margin: 3.5vw;

}
input:hover{
    box-shadow: inset 5px 5px 3px grey, inset -5px -5px 3px white;
    
}


h1{
    color: black;
    
}

body {
    background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}


@media screen and (min-width: 420px) {
  #answer {
    width: 300px;
  }
  input{
    margin: 10px;
  }
}

@media screen and (max-width: 420px) {
  input{
    margin-right: 2vw;
  }
}
